body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background: black;
}

.container {
    width: 1920px;
    height: 9183px;
    position: relative;
    background: black;
}

.image {
    border-radius: 10px;
}

.image-preview {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    background-color: #d9d9d9; /* placeholder 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.image1 {
    width: 1920px;
    height: 1080px;
    left: 0;
    top: 0;
}

.image2 {
    width: 977px;
    height: 724px;
    left: 1017px;
    top: 5213px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.image3 {
    width: 724px;
    height: 976px;
    left: 1017px;
    top: 3119px;
}

.image4 {
    width: 723px;
    height: 976px;
    left: 1018px;
    top: 5354px;
}

.image5 {
    width: 976px;
    height: 724px;
    left: 178px;
    top: 4095px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.image6 {
    width: 976px;
    height: 723px;
    left: 178px;
    top: 6330px;
    transform: rotate(-90deg);
    transform-origin: 0 0;
}

.image7 {
    width: 724px;
    height: 977px;
    left: 178px;
    top: 4236px;
}

.site-title {
    left: 87px;
    top: 47px;
    position: absolute;
    color: black;
    font-size: 30px;
    font-family: 'Knewave', cursive;
    font-weight: 400;
    word-wrap: break-word;
}

.author-info {
    left: 1759px;
    top: 65px;
    position: absolute;
    text-align: right;
    color: black;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

.line {
    position: absolute;
    border: 1px black solid;
}

.line1 {
    width: 420px;
    height: 0;
    left: 1298px;
    top: 77px;
}

.author-name {
    position: absolute;
    text-align: center;
    color: white;
    font-size: 350px;
    font-weight: 600;
    word-wrap: break-word;
}

.author-name1 {
    left: 125px;
    top: 1348px;
}

.author-name2 {
    left: 759px;
    top: 1646px;
}

.intro-text {
    width: 1215px;
    left: 152px;
    top: 2418px;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 500;
    word-wrap: break-word;
}

.intro-title {
    left: 150px;
    top: 2317px;
    position: absolute;
    color: white;
    font-size: 60px;
    font-weight: 700;
    word-wrap: break-word;
}

.contact-section {
    position: absolute;
    background: #d9d9d9;
    border-radius: 30px;
}

.contact-section1 {
    width: 609px;
    height: 427px;
    left: 758px;
    top: 7505px;
}

.contact-section2 {
    width: 609px;
    height: 989px;
    left: 125px;
    top: 7505px;
}

.contact-section3 {
    width: 1012px;
    height: 540px;
    left: 758px;
    top: 7954px;
}

.contact-title {
    left: 148px;
    top: 7266px;
    position: absolute;
    color: white;
    font-size: 120px;
    font-weight: 700;
    word-wrap: break-word;
}

.contact-info {
    position: absolute;
    color: white;
    font-size: 80px;
    font-weight: 600;
    word-wrap: break-word;
}

.contact-info1 {
    left: 172px;
    top: 7536px;
}

.contact-info2 {
    left: 809px;
    top: 7536px;
}

.contact-info3 {
    left: 809px;
    top: 7990px;
}

.footer {
    width: 1920px;
    height: 357px;
    left: 0;
    top: 8826px;
    position: absolute;
}

.footer-bg {
    width: 1920px;
    height: 357px;
    left: 0;
    top: 0;
    position: absolute;
    background: #5b5b5b;
}

.footer-text {
    position: absolute;
    color: white;
    font-size: 25px;
    font-weight: 400;
    word-wrap: break-word;
}

.footer-text1 {
    left: 703px;
    top: 268px;
}

.footer-text2 {
    left: 867px;
    top: 268px;
}

.footer-text3 {
    left: 1055px;
    top: 268px;
}

.footer-text4 {
    left: 552px;
    top: 268px;
}

.footer-text5 {
    left: 1542px;
    top: 276px;
    font-size: 18px;
}

.footer-text6 {
    left: 1637px;
    top: 276px;
    font-size: 18px;
}

.footer-line {
    width: 22px;
    height: 0;
    left: 1614px;
    top: 276px;
    position: absolute;
    transform: rotate(90deg);
    transform-origin: 0 0;
    border: 1px white solid;
}

.footer-img {
    width: 1342px;
    height: 243px;
    left: 535px;
    top: 0;
    position: absolute;
}

.footer-title {
    left: 73px;
    top: 179px;
    position: absolute;
    color: white;
    font-size: 80px;
    font-family: 'Knewave', cursive;
    font-weight: 400;
    word-wrap: break-word;
}

.cta {
    width: 468px;
    height: 72px;
    left: 726px;
    top: 8624px;
    position: absolute;
}

.cta-bg {
    width: 468px;
    height: 72px;
    left: 0;
    top: 0;
    position: absolute;
    background: white;
    border-radius: 50px;
}

.cta-text {
    left: 53px;
    top: 18px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 30px;
    font-weight: 600;
    word-wrap: break-word;
}

.cta-line {
    width: 22px;
    height: 0;
    left: 395px;
    top: 36px;
    position: absolute;
    border: 2px black solid;
}

.unstyled-link {
    color: inherit; /* 기존 색상 유지 */
    text-decoration: none; /* 밑줄 제거 */
    font-weight: bold; /* 볼드체 유지 */
}

.unstyled-link:hover,
.unstyled-link:focus {
    text-decoration: none; /* 호버 및 포커스 시에도 밑줄 제거 */
    color: inherit; /* 호버 및 포커스 시에도 색상 유지 */
}