.image {
    border-radius: 10px;
    display: none; /* 이미지가 업로드되기 전에는 숨깁니다 */
}

.image-preview {
    position: absolute;
    cursor: pointer;
    overflow: hidden;
    background-color: #f0f0f0; /* placeholder 배경색 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none; /* 업로드 전에는 이미지 숨김 */
}