[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-allauth = "*"
requests = "*"
pyjwt = "*"
cryptography = "*"
django-environ = "*"
django-storages = "*"
pillow = "*"
boto3 = "*"
channels = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "*"
