{% extends 'MyApp/base.html' %}
{% load static %}

{% block title %}아티스트 갤러리{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %}

{% block content %}
<div class="gallery-container">
    <div class="search-bar">
        <input type="text" id="search-input" placeholder="작가명으로 검색하세요" value="{{ search_query }}">
        <button type="button" onclick="searchArtist()">검색</button>
    </div>
    <div class="artists-gallery">
        {% for artist in artists %}
        <div class="artist-card">
            {% if artist.profile_picture %}
            <img src="{{ artist.profile_picture.url }}" alt="{{ artist.username }}">
            {% else %}
            <img src="{% static 'images/default_profile.png' %}" alt="{{ artist.username }}">
            {% endif %}
            <div class="artist-name">{{ artist.username }}</div>
            <a href="#" class="unstyled-link portfolio-button">포트폴리오 보기</a>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function searchArtist() {
        const input = document.getElementById("search-input").value.toLowerCase();
        window.location.href = `?search=${input}`;
    }
</script>
{% endblock %}
