<!-- MyApp/templates/MyApp/base.html -->

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Artist Zip{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        {% block css %} {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <div class="left">
                <a href="{% url 'index' %}">
                    <img src="{% static 'images/logo.png' %}" alt="Logo" />
                </a>
            </div>
            <div class="center">
                <a href="{% url 'artists' %}">아티스트</a>
                <a href="{% url 'gallery' %}">갤러리</a>
                <a href="{% url 'contact' %}">컨택트</a>
            </div>
            <div class="right">
                {% if user.is_authenticated %}
                <span>{{ user.username }}님</span>
                <a href="{% url 'logout' %}">로그아웃</a>
                {% else %}
                <a href="{% url 'signup' %}">회원가입</a>
                <a href="{% url 'login' %}">로그인</a>
                {% endif %}
            </div>
        </div>

        <div class="main-content">{% block content %} {% endblock %}</div>
        <script>
            window.onload = function () {
                document.querySelector('.home-second').scrollIntoView({ behavior: 'smooth' });
            };

            document.addEventListener('DOMContentLoaded', function () {
                // Create a div element for the cursor
                var cursor = document.createElement('div');
                cursor.className = 'cursor';
                document.body.appendChild(cursor);

                // Update cursor position based on mouse movement
                document.addEventListener('mousemove', function (e) {
                    cursor.style.left = e.pageX + 'px';
                    cursor.style.top = e.pageY + 'px';
                });
            });
        </script>
    </body>
</html>
