{% load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Artist Template</title>
        <link rel="stylesheet" href="{% static 'css/portfolio1.css' %}" />
    </head>
    <body>
        <div class="container">
            <form
                id="portfolio-form"
                method="post"
                enctype="multipart/form-data"
                action="{% url 'create_portfolio' user.id %}"
            >
            {% csrf_token %}
                
            <div class="box box1"></div>
            <div class="box box2"></div>
            <div class="box box3"></div>
            
            <div id="image1Preview" class="image-preview image1">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo1 %}{{ portfolio.photo1.url }}{% endif %}"
                alt="Image 1"
                />
                <input type="file"
                id="fileInput1"
                name="photo1"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo1.url %}display: none{% endif %}">
                    547 x 734
                </div>
            </div>
            
            
            <div id="image2Preview" class="image-preview image2">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo2 %}{{ portfolio.photo2.url }}{% endif %}"
                alt="Image 2"
                />
                <input type="file"
                id="fileInput2"
                name="photo2"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo2.url %}display: none{% endif %}">
                    1744 x 734
                </div>
            </div>
            
            <div
                id="author-name"
                class="author-name"
            >
            <input
                type='text'
                id="author-name-input"
                name="author_name"
                value="{{ form.author_name.value|default_if_none:'' }}">
            </input>
            </div>
            
            <div class="author-title">작가</div>
            <div class="view-representative-works">대표 작품 보기</div>
            <div class="author-intro">작가 소개</div>
            <div class="art-gallery">작품 갤러리</div>
            <div class="site-title">Artist Zip</div>
            <div
                id="author-info"
                class="author-info"
            >
            <input
                type='text'
                id="author-info-input"
                name="author_name"
                value="{{ form.author_name.value|default_if_none:'' }}">
            </input>
            </div>
            
            <div class="line line1"></div>
            <div id="image3Preview" class="image-preview image3">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo3 %}{{ portfolio.photo3.url }}{% endif %}"
                alt="Image 3"
                />
                <input type="file"
                id="fileInput3"
                name="photo3"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo3.url %}display: none{% endif %}">
                    547 x 734
                </div>
            </div>
            <div id="image4Preview" class="image-preview image4">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo4 %}{{ portfolio.photo4.url }}{% endif %}"
                alt="Image 4"
                />
                <input type="file"
                id="fileInput4"
                name="photo4"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo4.url %}display: none{% endif %}">
                    1744 x 734
                </div>
            </div>
            <div id="image5Preview" class="image-preview image5">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo5 %}{{ portfolio.photo5.url }}{% endif %}"
                alt="Image 5"
                />
                <input type="file"
                id="fileInput5"
                name="photo5"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo5.url %}display: none{% endif %}">
                    547 x 734
                </div>
            </div>
            <div id="image6Preview" class="image-preview image6">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo6 %}{{ portfolio.photo6.url }}{% endif %}"
                alt="Image 6"
                />
                <input type="file"
                id="fileInput6"
                name="photo6"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo6.url %}display: none{% endif %}">
                    1744 x 734
                </div>
            </div>
            <div
                id="intro-text"
                class="intro-text"
            >
            <input type="textarea" id="intro-text-input" name="career" value="{{ form.career.value|default_if_none:'' }}">
            </div>
            
            
            <div class="line line2"></div>
            <div class="line line3"></div>
            <div class="line line4"></div>
            <div
                id="art-title1"
                class="art-title art-title1">
                <input type="text" name="description1" id="art-title1" class="form-control" value="{{ form.description1.value|default_if_none:'' }}" placeholder="Description for Photo 1">
            </div>
            <div
                id="art-title2"
                class="art-title art-title2">
                <input type="text" name="description2" id="art-title2" class="form-control" value="{{ form.description2.value|default_if_none:'' }}" placeholder="Description for Photo 2">
            </div>
            <div
                id="art-title3"
                class="art-title art-title3">
                <input type="text" name="description3" id="art-title3" class="form-control" value="{{ form.description3.value|default_if_none:'' }}" placeholder="Description for Photo 3">
            </div>
            
            <div class="thick-line thick-line1"></div>
            <div class="thick-line thick-line2"></div>
            <div class="thick-line thick-line3"></div>
            <div class="contact-title">컨택트</div>
            <div class="contact-info instagram">인스타그램 <input type="url" id="instagram-input"
                name="instagram" value="{{ form.instagram.value|default_if_none:'' }}"/></div>
            
            <div class="contact-info email">이메일 <input type="email" id="email-input"
                name="email"  value="{{ form.email.value|default_if_none:'' }}"/> </div>
            
            <div class="contact-info homepage">홈페이지  <input type="url" id="homepage-input"
                name="website"  value="{{ form.website.value|default_if_none:'' }}"/></div>
           
            <div
                id="main-title"
                class="main-title"
            >
                <input type="text" name="intro" id="main-title" value="{{ form.intro.value|default_if_none:'' }}">
            </div>
            <div
                id="project-name1"
                class="project-name project-name1"
            >
                <input type="text" name="description4" id="project-name1" class="form-control" value="{{ form.description4.value|default_if_none:'' }}" placeholder="Description for Photo 4">
            </div>
            <div
                id="project-name2"
                class="project-name project-name2"
            >
            <input type="text" name="description5" id="project-name2" class="form-control" value="{{ form.description5.value|default_if_none:'' }}" placeholder="Description for Photo 5">
            </div>
            <div
                id="project-name3"
                class="project-name project-name3"
            >
            <input type="text" name="description6" id="project-name3" class="form-control" value="{{ form.description6.value|default_if_none:'' }}" placeholder="Description for Photo 6">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save Portfolio</button>
            </div>
        </form>
    </div>
</body>
</html>