<!-- MyApp/templates/MyApp/gallery.html -->
{% extends 'MyApp/base.html' %} {% load static %} {% block title %}갤러리{% endblock %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %} {% block content %}
<div class="gallery-container">
    <div class="search-bar">
        <input type="text" placeholder="국내 최대 아티스트 홍보 플랫폼, 아티스트집" />
        <button type="button">
            <img src="{% static 'images/search_icon.png' %}" alt="Search" />
        </button>
    </div>
    <div class="gallery-header">
        <div class="header-item">
            <img src="{% static 'images/MEDIA ART.png' %}" alt="MEDIA ART" />
        </div>
        <div class="header-item">
            <img src="{% static 'images/CRAFT.png' %}" alt="CRAFT" />
        </div>
        <div class="header-item">
            <img src="{% static 'images/ILLUSTRATOR.png' %}" alt="ILLUSTRATOR" />
        </div>
    </div>
    <div class="gallery-content">
        <div class="gallery-column">
            <div class="gallery-item rectangle-37">
                <img src="{% static 'images/Rectangle 37.png' %}" alt="Rectangle 37" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
            <div class="gallery-item rectangle-38">
                <img src="{% static 'images/Rectangle 38.png' %}" alt="Rectangle 38" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
            <div class="gallery-item rectangle-39">
                <img src="{% static 'images/Rectangle 39.png' %}" alt="Rectangle 39" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
        </div>
        <div class="gallery-column">
            <div class="gallery-item rectangle-40">
                <img src="{% static 'images/Rectangle 40.png' %}" alt="Rectangle 40" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
            <div class="gallery-item rectangle-41">
                <img src="{% static 'images/Rectangle 41.png' %}" alt="Rectangle 41" />
            </div>
        </div>
        <div class="gallery-column">
            <div class="gallery-item rectangle-42">
                <img src="{% static 'images/Rectangle 42.png' %}" alt="Rectangle 42" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
            <div class="gallery-item rectangle-44">
                <img src="{% static 'images/Rectangle 44.png' %}" alt="Rectangle 44" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
        </div>
        <div class="gallery-column">
            <div class="gallery-item rectangle-45">
                <img src="{% static 'images/Rectangle 45.png' %}" alt="Rectangle 45" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
            <div class="gallery-item rectangle-46">
                <img src="{% static 'images/Rectangle 46.png' %}" alt="Rectangle 46" />
                <div class="gallery-text">
                    <div class="bold">선을 긋는 행위</div>
                    <br />홍길동
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
