{% extends 'MyApp/base.html' %}
{% load static %}
{% block title %}갤러리{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %}
{% block content %}
<div class="gallery-container">
    <div class="search-bar">
        <input type="text" placeholder="국내 최대 아티스트 홍보 플랫폼, 아티스트집" />
        <button type="button">
            <img src="{% static 'images/search_icon.png' %}" alt="Search" />
        </button>
    </div>
    <div class="gallery-header">
        <div class="header-item">
            <img src="{% static 'images/MEDIA ART.png' %}" alt="MEDIA ART" />
        </div>
        <div class="header-item">
            <img src="{% static 'images/CRAFT.png' %}" alt="CRAFT" />
        </div>
        <div class="header-item">
            <img src="{% static 'images/ILLUSTRATOR.png' %}" alt="ILLUSTRATOR" />
        </div>
    </div>
    <div class="gallery-content">
        {% for artwork in artworks %}
        <div class="gallery-column">
            <div class="gallery-item rectangle-{{ forloop.counter }}">
                <img src="{{ artwork.artwork_image.url }}" alt="{{ artwork.artwork_title }}" class="gallery-image" />
                <div class="gallery-text">
                    <div class="bold">
                        <a href="{% url 'profile' artwork.user.id %}" class="unstyled-link">{{ artwork.artwork_title }}</a>
                    </div>
                    <br />{{ artwork.user.username }}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
