{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Template</title>
        <link rel="stylesheet" href="{% static 'css/portfolio3.css' %}" />
        <style>
            .container {
                width: 1920px;
                height: 8716px;
                position: relative;
                background-color: {{ form.background_color.value|default_if_none:'#000000' }}; /* 저장된 배경색 적용 */
            }
            .color-picker {
                margin: 20px;
                color: #FFFFFF; /* 글씨를 흰색으로 설정 */
            }
        </style>
        <script>
            function changeBackgroundColor(color) {
                document.querySelector('.container').style.backgroundColor = color;
            }
        </script>
    </head>
    <body>
        <div class="container">
            <form
                id="portfolio-form"
                method="post"
                enctype="multipart/form-data"
                action="{% url 'create_portfolio3' user.id %}"
            >
                {% csrf_token %}
                <div style="z-index: 1000; position: relative;">
                    <label for="background-color-picker" style="color: black;">배경 색상 선택:</label>
                    <input type="color" id="background-color-picker" name="background_color" value="{{ form.background_color.value|default_if_none:'#000000' }}" onchange="changeBackgroundColor(this.value)">
                </div>
                
                <div id="image1-preview" class="image-preview image1">
                    <img
                    class="image"
                    src="{% if portfolio and portfolio.photo1 %}{{ portfolio.photo1.url }}{% endif %}"
                    alt="Image 1"
                    />
                    <input type="file"
                    id="fileInput1"
                    name="photo1"
                    accept="image/*"
                    />
                    <div
                        class="placeholder-text"
                        style="{% if portfolio and portfolio.photo1.url %}display: none{% endif %}"
                    >
                        1920 x 1460
                    </div>
                </div>
                

                <div id="image2-preview" class="image-preview image2" ondblclick="triggerFileInput('fileInput2')">
                    <img
                    class="image"
                    src="{% if portfolio and portfolio.photo2 %}{{ portfolio.photo2.url }}{% endif %}"
                    alt="Image 2"
                    />
                    <input type="file"
                    id="fileInput2"
                    name="photo2"
                    accept="image/*"
                    />
                    <div class="placeholder-text" style="{% if portfolio and portfolio.photo2.url %}display: none{% endif %}">
                        565 x 364
                    </div>
                </div>
                

                <div id="image3-preview" class="image-preview image3">
                    <img
                    class="image"
                    src="{% if portfolio and portfolio.photo3 %}{{ portfolio.photo3.url }}{% endif %}"
                    alt="Image 3"
                    />
                    <input type="file"
                    id="fileInput3"
                    name="photo3"
                    accept="image/*"
                    />
                    <div class="placeholder-text" style="{% if portfolio and portfolio.photo3.url %}display: none{% endif %}">
                        1673 x 1024
                    </div>
                </div>
                

                <div id="image4-preview" class="image-preview image4">
                    <img
                    class="image"
                    src="{% if portfolio and portfolio.photo4 %}{{ portfolio.photo4.url }}{% endif %}"
                    alt="Image 4"
                    />
                    <input type="file"
                    id="fileInput4"
                    name="photo4"
                    accept="image/*"
                    />
                    <div class="placeholder-text" style="{% if portfolio and portfolio.photo4.url %}display: none{% endif %}">
                        1508 x 871
                    </div>
                </div>
                

                <div id="image5-preview" class="image-preview image5">
                    <img
                    class="image"
                    src="{% if portfolio and portfolio.photo5 %}{{ portfolio.photo5.url }}{% endif %}"
                    alt="Image 5"
                    />
                    <input type="file"
                    id="fileInput5"
                    name="photo5"
                    accept="image/*"
                    />
                    <div class="placeholder-text" style="{% if portfolio and portfolio.photo5.url %}display: none{% endif %}">
                        564 x 326
                    </div>
                </div>

                <div id="image6-preview" class="image-preview image6" ondblclick="triggerFileInput('fileInput6')">
                    <img
                    class="image"
                    src="{% if portfolio and portfolio.photo6 %}{{ portfolio.photo6.url }}{% endif %}"
                    alt="Image 6"
                    />
                    <input type="file"
                    id="fileInput6"
                    name="photo6"
                    accept="image/*"
                    />
                    <div class="placeholder-text" style="{% if portfolio and portfolio.photo6.url %}display: none{% endif %}">
                        613 x 479
                    </div>
                </div>
                

                <div
                    class="author-name author-name1"
                >
                    <input
                    type='text'
                    id="author-info-input"
                    name="author_name"
                    value="{{ form.author_name.value|default_if_none:'' }}">
                    </input>
                </div>

                <div
                    class="author-name author-name2"
                >
                    <input
                    type='text'
                    id="author-info-input"
                    name="author_name"
                    value="{{ form.author_name.value|default_if_none:'' }}">
                </input>
                </div>

                <div
                    id="author-info"
                    class="author-info"
                    data-input-id="author-info-input"
                >
                    <input
                    type='text'
                    id="author-info-input"
                    name="author_name"
                    value="{{ form.author_name.value|default_if_none:'' }}">
                    </input>
                </div>

                <div class="site-title">Artist Zip</div>
                <div class="line line1"></div>

                <div
                    class="text text1"
                >
                <input type="text" name="description1" id="art-title1" class="form-control" value="{{ form.description1.value|default_if_none:'' }}" placeholder="Description for Photo 1">
                </div>

                <div
                    class="text text2"
                >
                    <input type="text" name="description1" id="art-title1" class="form-control" value="{{ form.description2.value|default_if_none:'' }}" placeholder="Description for Photo 2">
                </div>

                <div
                    class="intro-text"
                >
                    <input type="textarea" id="intro-text-input" name="career" value="{{ form.career.value|default_if_none:'' }}">
                </div>

                <div
                    class="intro-title"
                >
                    <input type="textarea" id="intro-text-input" name="career" value="{{ form.career.value|default_if_none:'' }}">
                </div>

                <div class="contact-container">
                    <div class="contact-line contact-line1"></div>
                    <div class="contact-line contact-line2"></div>
                    <div class="contact-line contact-line3"></div>
                    <div class="contact-title">CONTACT</div>
                    <div class="contact-info contact-info1">INSTA <input type="url" id="instagram-input"
                        name="instagram" value="{{ form.instagram.value|default_if_none:'' }}"/></div>
                    <div class="contact-info contact-info2">E-MAIL <input type="email" id="email-input"
                        name="email"  value="{{ form.email.value|default_if_none:'' }}"/> </div>
                    <div class="contact-info contact-info3">HOMEPAGE <input type="url" id="homepage-input"
                        name="website"  value="{{ form.website.value|default_if_none:'' }}"/></div>
                </div>
                <div class="cta">
                    <div class="cta-bg"></div>
                    <div class="cta-text">아티스트집이 궁금하다면?</div>
                    <div class="cta-line"></div>
                </div>
                <div class="footer">
                    <div class="footer-bg"></div>
                    <div class="footer-text footer-text1">Gallery</div>
                    <div class="footer-text footer-text2">Message</div>
                    <div class="footer-text footer-text3">My page</div>
                    <div class="footer-text footer-text4">Home</div>
                    <div class="footer-text footer-text5">e-mail</div>
                    <div class="footer-text footer-text6">your e-mail</div>
                    <div class="footer-line"></div>
                    <img class="footer-img" src="https://via.placeholder.com/1342x243" alt="Footer Image" />
                    <div class="footer-title">Artist Zip</div>
                </div>
                <div class="form-group" style="position: absolute; top: 10px; left: 10px; z-index: 1000;" >
                    <button type="submit" class="btn btn-primary" >Save Portfolio</button>
                </div>
            </form>
        </div>
    </body>
</html>
