{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Template</title>
        <link rel="stylesheet" href="{% static 'css/portfolio2.css' %}" />
    </head>
    <body>
        <script src="{% static 'js/portfolio.js' %}" defer></script>

        <div class="container">
            <form
                id="portfolio-form"
                method="post"
                enctype="multipart/form-data"
                action="{% url 'portfolio2' user.id %}"
            >
                {% csrf_token %}
                <img class="image image1" src="https://via.placeholder.com/1146x906" alt="Image 1" />
                <img class="image image2" src="https://via.placeholder.com/1033x692" alt="Image 2" />
                <img class="image image3" src="https://via.placeholder.com/1033x692" alt="Image 3" />
                <div
                    class="text text1"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="text1-input"
                >
                    project name
                </div>
                <input type="hidden" id="text1-input" name="text1" value="HEAFSDKJFLJSAEEW" />

                <div
                    class="text text2"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="text2-input"
                >
                    project name
                </div>
                <input type="hidden" id="text2-input" name="text2" value="HEAFSDKJFLJSAEEW" />

                <div
                    class="text text3"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="text3-input"
                >
                    project name
                </div>
                <input type="hidden" id="text3-input" name="text3" value="SDFJLASJREIWEIRWER" />
                <div
                    id="author-name"
                    class="author-name"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="author-name-input"
                >
                    NAME
                </div>
                <input type="hidden" id="author-name-input" name="author_name" value="HEEJAE" />

                <img class="image image4" src="https://via.placeholder.com/526x351" alt="Image 4" />
                <img class="image image5" src="https://via.placeholder.com/574x370" alt="Image 5" />
                <img class="image image6" src="https://via.placeholder.com/855x473" alt="Image 6" />
                <img class="image image7" src="https://via.placeholder.com/934x649" alt="Image 7" />
                <img class="image image8" src="https://via.placeholder.com/431x468" alt="Image 8" />
                <img class="image image9" src="https://via.placeholder.com/536x668" alt="Image 9" />
                <div
                    class="project-name project-name1"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="project-name1-input"
                >
                    project name
                </div>
                <input type="hidden" id="project-name1-input" name="project_name1" value="project name" />

                <div
                    class="project-name project-name2"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="project-name2-input"
                >
                    project name
                </div>
                <input type="hidden" id="project-name2-input" name="project_name2" value="project name" />

                <div
                    class="project-name project-name3"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="project-name3-input"
                >
                    project name
                </div>
                <input type="hidden" id="project-name3-input" name="project_name3" value="project name" />
                <div
                    class="project-name project-name4"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="project-name4-input"
                >
                    project name
                </div>
                <input type="hidden" id="project-name4-input" name="project_name4" value="project name" />

                <div
                    class="project-name project-name5"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="project-name5-input"
                >
                    project name
                </div>
                <input type="hidden" id="project-name5-input" name="project_name5" value="project name" />

                <div
                    class="title title1"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="title1-input"
                >
                    NAME
                </div>
                <input type="hidden" id="title1-input" name="title1" value="MOON" />
                <div class="site-title">Artist Zip</div>
                <div
                    id="author-info"
                    class="author-info"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="author-info-input"
                >
                    name 작가
                </div>
                <input type="hidden" id="author-info-input" name="author_info" value="문희재 작가" />
                <div class="line line1"></div>
                <div
                    id="intro-text"
                    class="intro-text"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="intro-text-input"
                >
                    career<br /><br />career<br /><br />career<br /><br />career<br /><br />career
                </div>
                <input
                    type="hidden"
                    id="intro-text-input"
                    name="art_description"
                    value="이 시대 가장 주목 받는 예술인 이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인 이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인"
                />

                <div
                    class="intro-title"
                    ondblclick="enableEditing(this)"
                    onblur="disableEditing(this)"
                    data-input-id="intro-title-input"
                >
                    Appealing Description
                </div>
                <input type="hidden" id="intro-title-input" name="intro_title" value="이 시대 가장 주목 받는 예술인" />
                <div class="contact-container">
                    <div class="contact-line contact-line1"></div>
                    <div class="contact-line contact-line2"></div>
                    <div class="contact-line contact-line3"></div>
                    <div class="contact-title">CONTACT</div>
                    <div class="contact-info contact-info1">INSTA</div>
                    <div class="contact-info contact-info2">E-MAIL</div>
                    <div class="contact-info contact-info3">HOMEPAGE</div>
                </div>
                <img class="image image10" src="https://via.placeholder.com/637x403" alt="Image 10" />
                <div class="footer">
                    <div class="footer-bg"></div>
                    <div class="footer-text footer-text1">Gallery</div>
                    <div class="footer-text footer-text2">Message</div>
                    <div class="footer-text footer-text3">My page</div>
                    <div class="footer-text footer-text4">Home</div>
                    <div class="footer-text footer-text5">e-mail</div>
                    <div class="footer-text footer-text6">moon3453@naver.com</div>
                    <div class="footer-line"></div>
                    <div class="footer-title">Artist Zip</div>
                    <img class="footer-img" src="https://via.placeholder.com/1342x243" alt="Footer Image" />
                </div>
                <div class="scroll-bar scroll-bar1"></div>
                <div class="scroll-bar scroll-bar2"></div>
                <div class="scroll-bar scroll-bar3"></div>
                <div class="scroll-bar scroll-bar4"></div>
                <div class="cta">
                    <div class="cta-bg"></div>
                    <div class="cta-text">아티스트집이 궁금하다면?</div>
                    <div class="cta-line"></div>
                </div>
                <button type="button" onclick="saveChanges()">저장</button>
            </form>
        </div>
    </body>
</html>
