{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Template</title>
        <link rel="stylesheet" href="{% static 'css/portfolio6.css' %}" />
        <style>
            .container {
                width: 1920px;
                height: 9183px;
                position: relative;
                background-color: {{ portfolio.background_color }};
            }
        </style>
    </head>
    <body>
        <div class="container">
         {% csrf_token %}
                <div id="image1-preview" class="image-preview image1" >
                    {% if portfolio.photo1 %}
                        <img src="{{ portfolio.photo1.url }}" alt="Image 1" />
                    {% else %}
                    <div class="placeholder-text">
                        1920 x 1080
                    {% endif %}     
                </div>

                <div id="image2-preview" class="image-preview image2" >
                    {% if portfolio.photo2 %}
                    <img class="image" src="{{ portfolio.photo2.url }}" alt="Image 2"/>
                    {% else %}
                    <div class="placeholder-text">
                        977 x 724
                    </div>
                    {% endif %}
                </div>

                <div id="image3-preview" class="image-preview image3" >
                    {% if portfolio.photo3 %}
                    <img class="image" src="{{ portfolio.photo3.url }}" alt="Image 3"/>
                    {% else %}
                    <div class="placeholder-text" style="{% if portfolio.photo3 %}display: none{% endif %}">
                        724 x 976
                    </div>
                    {% endif %}
                </div>

                <div id="image4-preview" class="image-preview image4" >
                    {% if portfolio.photo4 %}
                    <img class="image" src="{{ portfolio.photo4.url }}" alt="Image 4"/>
                    {% else %}
                    <div class="placeholder-text" style="{% if portfolio.photo4 %}display: none{% endif %}">
                        723 x 976
                    </div>
                    {% endif %}           
                </div>

                <div id="image5-preview" class="image-preview image5" >
                    {% if portfolio.photo5 %}
                    <img class="image" src="{{ portfolio.photo5.url }}" alt="Image 5"/>
                    {% else %}
                    <div class="placeholder-text" style="{% if portfolio.photo5 %}display: none{% endif %}">
                        976 x 724
                    </div>
                    {% endif %}         
                </div>

                <div id="image6-preview" class="image-preview image6" >
                    {% if portfolio.photo6 %}
                    <img class="image" src="{{ portfolio.photo6.url }}" alt="Image 6"/>
                    {% else %}
                    <div class="placeholder-text" style="{% if portfolio.photo6 %}display: none{% endif %}">
                        976 x 723
                    </div>
                    {% endif %}                     
                </div>

                <div id="image7-preview" class="image-preview image7" >
                    {% if portfolio.photo7 %}
                    <img class="image" src="{{ portfolio.photo7.url }}" alt="Image 7"/>
                    {% else %}
                    <div class="placeholder-text" style="{% if portfolio.photo7 %}display: none{% endif %}">
                        724 x 977
                    </div>
                    {% endif %}                    
                </div>

                <div class="site-title">Artist Zip</div>
                <div
                    id="author-info"
                    class="author-info"
                >
                    {{ portfolio.author_name }}
                </div>

                <div class="line line1"></div>

                <div
                    id="author-name1"
                    class="author-name author-name1"
                >
                    {{ portfolio.author_name }}
                </div>

                <div
                    id="author-name2"
                    class="author-name author-name2"
                >
                    {{ portfolio.author_name }}
                </div>

                <div
                    id="intro-title"
                    class="intro-title"
                >
                    {{ portfolio.intro }}                
                </div>

                <div
                    id="intro-text"
                    class="intro-text"
                >
                    {{ portfolio.career }}
                </div>

                <div class="contact-section contact-section1"></div>
                <div class="contact-section contact-section2"></div>
                <div class="contact-section contact-section3"></div>
                <div class="contact-title">CONTACT</div>
                <div class="contact-info contact-info1"><a href="{{ portfolio.instagram }}" target="_blank">INSTA</a></div>
                <div class="contact-info contact-info2"><a href="mailto:{{ portfolio.email }}">E-MAIL </div>
                <div class="contact-info contact-info3"><a href="{{ portfolio.website }}" target="_blank">HOMEPAGE</div>
                <div class="footer">
                    <div class="footer-bg"></div>
                    <div class="footer-text footer-text1">Gallery</div>
                    <div class="footer-text footer-text2">Message</div>
                    <div class="footer-text footer-text3">My page</div>
                    <div class="footer-text footer-text4">Home</div>
                    <div class="footer-text footer-text5">e-mail</div>
                    <div class="footer-text footer-text6">{{ portfolio.email }}</div>
                    <div class="footer-line"></div>
                    <img class="footer-img" src="https://via.placeholder.com/1342x243" alt="Footer Image" />
                    <div class="footer-title">Artist Zip</div>
                </div>
                <div class="cta">
                    <div class="cta-bg"></div>
                    <div class="cta-text">아티스트집이 궁금하다면?</div>
                    <div class="cta-line"></div>
                </div>
        </div>
    </body>
</html>
