{%load static%}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Portfolio Template</title>
        <link rel="stylesheet" href="{% static 'css/portfolio4.css' %}" />
        <style>
            .container {
                width: 1920px;
                height: 9183px;
                position: relative;
                background-color: {{ form.background_color.value|default_if_none:'#ffffff' }}; /* 저장된 배경색 적용 */
            }
            .color-picker {
                margin: 20px;
            }
        </style>
        <script>
            function changeBackgroundColor(color) {
                document.querySelector('.container').style.backgroundColor = color;
            }
        </script>
    </head>
    <body>

        <div class="container">
            <form id="portfolio-form" method="post" enctype="multipart/form-data" action="{% url 'create_portfolio4' user.id %}">
                {% csrf_token %}
                <div style="z-index: 1000; position: relative;">
                    <label for="background-color-picker" style="color: black;">배경 색상 선택:</label>
                    <input type="color" id="background-color-picker" name="background_color" value="{{ form.background_color.value|default_if_none:'#ffffff' }}" onchange="changeBackgroundColor(this.value)">
                </div>
            <div class="site-title">Artist Zip</div>
            <div id="author-info" class="author-info">
                <input
                    type='text'
                    id="author-name-input"
                    name="author_name"
                    value="{{ form.author_name.value|default_if_none:'' }}">
                </input>
            </div>
            
            <div class="line line1"></div>
            
            <div id="image1-preview" class="image-preview image1" ondblclick="triggerFileInput('fileInput1')">
                <img
                    class="image"
                    src="{% if portfolio and portfolio.photo1 %}{{ portfolio.photo1.url }}{% endif %}"
                    alt="Image 1"
                />
                <input type="file"
                    id="fileInput1"
                    name="photo1"
                    accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo1.url %}display: none{% endif %}">
                    952 x 823
                </div>
            </div>
                        
            
            <div id="author-name1" class="author-name author-name1">
                <input
                    type='text'
                    id="author-info-input"
                    name="author_name"
                    value="{{ form.author_name.value|default_if_none:'' }}">
                </input>
            </div>
            
            <div id="author-name2" class="author-name author-name2" >
                <input
                    type='text'
                    id="author-info-input"
                    name="author_name"
                    value="{{ form.author_name.value|default_if_none:'' }}">
                </input>
            </div>
            
            <div id="intro-title" class="intro-title" >
                <input type="text" name="intro" id="main-title" value="{{ form.intro.value|default_if_none:'' }}">
            </div>
            
            <div id="intro-text" class="intro-text" >
                <input type="textarea" id="intro-text-input" name="career" value="{{ form.career.value|default_if_none:'' }}">
            </div>
            
            </div>
            <div id="thumbnail1-preview" class="thumbnail thumbnail1" >
                <div class="image-preview">
                    <img
                        class="image image-thumbnail1"
                        src="{% if portfolio and portfolio.thumbnail1_url %}{{ portfolio.thumbnail1_url }}{% else %}https://via.placeholder.com/136x117{% endif %}"
                        alt="Thumbnail 1"
                    />
                    <div
                        class="placeholder-text"
                        style="{% if portfolio and portfolio.thumbnail1_url %}display: none{% endif %}"
                    >
                        136 x 117
                    </div>
                </div>
            </div>
            
            <div id="thumbnail2-preview" class="thumbnail thumbnail2" ondblclick="triggerFileInput('fileInputThumbnail2')">
                <div class="image-preview">
                    <img
                        class="image image-thumbnail2"
                        src="{% if portfolio and portfolio.thumbnail2_url %}{{ portfolio.thumbnail2_url }}{% else %}https://via.placeholder.com/117x143{% endif %}"
                        alt="Thumbnail 2"
                    />
                    <div
                        class="placeholder-text"
                        style="{% if portfolio and portfolio.thumbnail2_url %}display: none{% endif %}"
                    >
                        117 x 143
                    </div>
                </div>
            </div>
            
            <div id="image2-preview" class="image-preview image2" ondblclick="triggerFileInput('fileInput2')">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo2 %}{{ portfolio.photo2.url }}{% endif %}"
                alt="Image 2"
                />
                <input type="file"
                id="fileInput2"
                name="photo2"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo2.url %}display: none{% endif %}">
                    1513 x 955
                </div>
            </div>
            
            <div id="image3-preview" class="image-preview image3" ondblclick="triggerFileInput('fileInput3')">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo3 %}{{ portfolio.photo3.url }}{% endif %}"
                alt="Image 3"
                />
                <input type="file"
                id="fileInput3"
                name="photo3"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo3.url %}display: none{% endif %}">
                    1513 x 955
                </div>
            </div>
            
            <div id="image4-preview" class="image-preview image4" ondblclick="triggerFileInput('fileInput4')">
                <img
                class="image"
                src="{% if portfolio and portfolio.photo4 %}{{ portfolio.photo4.url }}{% endif %}"
                alt="Image 4"
                />
                <input type="file"
                id="fileInput4"
                name="photo4"
                accept="image/*"
                />
                <div class="placeholder-text" style="{% if portfolio and portfolio.photo4.url %}display: none{% endif %}">
                    1513 x 955
                </div>
            </div>
            
            <div id="text1" class="text text1" >
                <input type="text" name="description1" id="art-title1" class="form-control" value="{{ form.description1.value|default_if_none:'' }}" placeholder="Description for Photo 1">
            </div>
            
            <div id="text2" class="text text2" >
                <input type="text" name="description2" id="art-title2" class="form-control" value="{{ form.description2.value|default_if_none:'' }}" placeholder="Description for Photo 2">
            </div>
            
            <div id="text3" class="text text3" >
                <input type="text" name="description3" id="art-title3" class="form-control" value="{{ form.description3.value|default_if_none:'' }}" placeholder="Description for Photo 3">
            </div>
            
            <div class="contact-section contact-section1"></div>
            <div class="contact-section contact-section2"></div>
            <div class="contact-section contact-section3"></div>
            <div class="contact-title">CONTACT</div>
            <div class="contact-info contact-info1">INSTA <input type="url" id="instagram-input"
                name="instagram" value="{{ form.instagram.value|default_if_none:'' }}"/></div>
            <div class="contact-info contact-info2">E-MAIL <input type="email" id="email-input"
                name="email"  value="{{ form.email.value|default_if_none:'' }}"/></div>
            <div class="contact-info contact-info3">HOMEPAGE <input type="url" id="homepage-input"
                name="website"  value="{{ form.website.value|default_if_none:'' }}"/></div>
            <div class="footer">
                <div class="footer-bg"></div>
                <div class="footer-text footer-text1">Gallery</div>
                <div class="footer-text footer-text2">Message</div>
                <div class="footer-text footer-text3">My page</div>
                <div class="footer-text footer-text4">Home</div>
                <div class="footer-text footer-text5">e-mail</div>
                <div class="footer-text footer-text6">your e-mail</div>
                <div class="footer-line"></div>
                <img class="footer-img" src="https://via.placeholder.com/1342x243" alt="Footer Image" />
                <div class="footer-title">Artist Zip</div>
            </div>
            <div class="cta">
                <div class="cta-bg"></div>
                <div class="cta-text">아티스트집이 궁금하다면?</div>
                <div class="cta-line"></div>
            </div>
            <div class="form-group" style="position: absolute; top: 10px; left: 10px; z-index: 1000;" >
                <button type="submit" class="btn btn-primary" >Save Portfolio</button>
            </div>
            </form>
        </div>
    </body>
</html>
