<!-- MyApp/templates/MyApp/profile.html -->
{% extends 'MyApp/base.html' %}
{% load static %}
{% block title %}{{ user.username }}의 프로필{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
{% endblock %}
{% block content %}
<div class="profile-container">
    <h1>{{ user.username }}의 프로필</h1>
    <div class="profile-artworks">
        {% for artwork in artworks %}
        <div class="profile-artwork">
            <img src="{{ artwork.artwork_image.url }}" alt="{{ artwork.artwork_title }}" class="profile-artwork-image" />
            <div class="profile-artwork-title">{{ artwork.artwork_title }}</div>
            <div class="profile-artwork-description">{{ artwork.artwork_description }}</div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
