{% extends 'MyApp/base.html' %}
{% load static %}
{% block title %}{{ profile_user.username }}님의 프로필{% endblock %}
{% block content %}
<div class="profile-container">
    <h1>{{ profile_user.username }}님의 프로필</h1>
    <div class="chat-button">
        <a href="{% url 'contact' %}?chatroom_id={{ chatroom_id }}" class='unstyled-link'>채팅하기</a>
    </div>
    <div class="profile-info">
        <p><strong>이름:</strong> {{ profile_user.username }}</p>
        <p><strong>이메일:</strong> {{ profile_user.email }}</p>
        <a href="{% url 'view_my_portfolio' profile_user.id %}">
            <button class="myprofile-action-btn">포트폴리오 보기</button>
        </a>        
        <!-- 구독 버튼 -->
        {% if request.user != profile_user %}
            <div id="subscription-section">
                {% if is_subscribed %}
                <form method="post" action="{% url 'unsubscribe' profile_user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="myprofile-action-btn">구독 취소</button>
                </form>
                {% else %}
                <form method="post" action="{% url 'subscribe' profile_user.id %}">
                    {% csrf_token %}
                    <button type="submit" class="myprofile-action-btn">구독하기</button>
                </form>
                {% endif %}
            </div>
        {% endif %}
        <!-- 프로필에 추가 정보가 있으면 여기에 표시 -->
    </div>
    
    <!-- 작품 목록 -->
    <div class="profile-artworks">
        <h2>작품 목록</h2>
        <div class="gallery-content">
            {% for artwork in artworks %}
            <div class="gallery-column">
                <div class="gallery-item">
                    <img src="{{ artwork.artwork_image.url }}" alt="{{ artwork.artwork_title }}" class="gallery-image" />
                    <div class="gallery-text">
                        <div class="gallery-title">
                            <a href="{% url 'profile' artwork.user.id %}" class="unstyled-link">{{ artwork.artwork_title }}</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('contextmenu', event => event.preventDefault());
</script>
{% endblock %}
