<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}Artist Zip{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    </head>
    <body>
        <div class="navbar">
            <div class="left">
                <a href="{% url 'index' %}">Artist Zip</a>
            </div>
            <div class="right">문희재 작가</div>
        </div>
        <div class="container">
            <div class="name">HEEJAE</div>
            <div class="main_pic">main_pic</div>
            <div class="title_ex">이 시대 가장 주목 받는 예술인</div>
            <div class="detail_ex">
                이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인이 시대 가장 주목 받는 예술인
            </div>
            <div class="detail_pic">detail_pic</div>
            <div class="title_pic">title_pic</div>
        </div>
        <div class="contact">
            <div class="insta">insta</div>
            <div class="email">email</div>
            <div class="homepage">homepage</div>
        </div>
    </body>
</html>
